.sidebar {
  padding: 25px 10px;
  flex: 0.33;
  max-width: 500px;
  background-color: #bff7f6;
  margin-left: 20px;
  border-radius: 20px;
  min-width: 10px;
  /*box-shadow: 10px 8px 10px -5px rgba(204, 202, 202, 0.75);
*/
}
