.header {
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
  
    /*background-color: #353535;*/
    background-image: linear-gradient(to left, #522352, #066364);
    z-index: 100;
    top: 0;
    height: 40px;
    box-shadow: 0px 5px 8px -9px rgba(41, 40, 40, 0.75);
  }
  .header__left {
    display: flex;
    justify-content: space-evenly;
  }
  .header__left > img {
    height: 50px;
  }
  .header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 30px;
    border-radius: 33px;
  }
  .header__input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
  }
  .header__centre {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
  }
  .header__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
  }

  /*.header__option--active {
    border-bottom: 4px solid #f4f3ee;
  } */
  
  .header__option > .MuiSvgIcon-root {
    color: #cfcbc4;
  }
  .header__option:hover > .MuiSvgIcon-root {
    color: #353535;
  }
  .header__option--active > .MuiSvgIcon-root {
    color: #f4f3ee;
  }
  .header__info {
    display: flex;
    align-items: center;
    color: #bcb8b1;
  }
  .header__info > h4 {
    margin-left: 10px;
  }
  .header__right {
    display: flex;
  }
  .MuiButtonBase-root > .MuiIconButton-label > .MuiSvgIcon-root {
    color: #bcb8b1;
  }
  .MuiButtonBase-root:hover {
    color: #bcb8b1;
  }

#dropdown-basic_header {
  border: none;
  background-color: transparent;
  color: gray;
}

.MesgDropDown__header {
  width: 400px;
  max-height: 400px;
  border: black solid 1px;
  overflow-y: scroll;
  border-radius: 50px;
  background-color: white;
}

/*Hide scrollbar for chrome, safari and opera*/
.MesgDropDown__header::-webkit-scrollbar {
  display: none;
}

/*Hide scrollbar for interneExp, edge and firefox*/
.MesgDropDown__header{
  -ms-overflow-style: none; /* internetExp + edge*/
  scrollbar-width: none; /*firefox*/
}

.dropDown {
  align-self: center;

}
.menuDropDown__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 150px;
  border: black solid 1px;
  border-radius: 50px;
  background-color: white;
}

.drop__elem{
  display: flex;
  padding: 20px;
  text-align: center;
 
}

.drop__elem:hover {
  border-bottom: black solid 2px;
  cursor: pointer;
}

.drop__elem > h3 {
  margin-right: 20px;
}

.drop__elem:hover > .door__icon {
  color: red;
}

@keyframes rotate__settings {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.drop__elem:hover > .settings__icon {
  animation: rotate__settings 4s infinite linear;
}