.header {
    
    height: 60px;
    padding: 15px, 20px;
    display: flex; /*bech ywali b jnab b3adhhom */
    justify-content: space-between;
    
    position: sticky;
    background-color: rgb(173, 173, 170);
    z-index: 100;

    top: 0;
    box-shadow: 0px 5px 8px -9px rgb(0, 0, 0);

}

.header__left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search__bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
    height: 20px;
}

.search__bar > input {
   border: none;
   background-color: transparent;
   outline-width: 0;
}

.header__left > img {
    height: 40px;
}

.header__middle {
    display: flex; 
    flex: 1;
    justify-content: center;
}

.header__option > .MuiSvgIcon-root { 
    /* rod all icons f option gray*/
    color: gray;
}

.header__option:hover > .MuiSvgIcon-root { 
    /*kif tji alihom souris ywaliw black */
    color: black;
}

.header__option--active > .MuiSvgIcon-root {
    color: blue;
}

.header__option--active {
    border-bottom: 4px solid blue;
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__info > h4 {
    margin-left: 10px;
}


.header__right {
    display: flex;
}
