.sidebar {
    margin: 50px 50px 0px 20px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50px;
}

.sidebar__header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    margin: 20px;
    justify-content: space-between;
}

icon:hover {
    color: black;
}